<ion-list>
    <ion-item>
      <ion-avatar slot="start">
        <div class="animate-skeleton-background" style="width: 100%;    height: 100%;"></div>
      </ion-avatar>
      <ion-label>
        <h3>
          <div class="animate-skeleton-background" style="width: 50%;    height: 14px;"></div>
        </h3>
        <p class="animate-skeleton-background" style="width: 70%; height: 18px;">
          
        </p>
        <p class="animate-skeleton-background" style="width: 80%; height: 18px;">
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <div class="animate-skeleton-background" style="width: 100%;    height: 100%;"></div>
      </ion-avatar>
      <ion-label>
        <h3>
          <div class="animate-skeleton-background" style="width: 50%;    height: 14px;"></div>
        </h3>
        <p class="animate-skeleton-background" style="width: 70%; height: 18px;">
          
        </p>
        <p class="animate-skeleton-background" style="width: 80%; height: 18px;">
        </p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <div class="animate-skeleton-background" style="width: 100%;    height: 100%;"></div>
      </ion-avatar>
      <ion-label>
        <h3>
          <div class="animate-skeleton-background" style="width: 50%;    height: 14px;"></div>
        </h3>
        <p class="animate-skeleton-background" style="width: 70%; height: 18px;">
          
        </p>
        <p class="animate-skeleton-background" style="width: 80%; height: 18px;">
        </p>
      </ion-label>
    </ion-item>
  </ion-list>