.keyboard-height{
    --border-color: #fff  !important;
}
.passwordIcon{
    font-size: 1.5rem !important;
    top: 23px !important;
    position: absolute !important;
    z-index: 999;
    right: 5px;
    padding: 8px;
 }