<ion-header>
</ion-header>

<ion-content padding class="login">
  <img src="../../assets/logo.svg" class="logo">
  <!-- <img src="../../assets/Image 35.png" class="sub-img"> -->

  <h3 class="title">Forgot password</h3>
  <p> Please enter your registered email address below to receive new password reset.    </p>

  <form class="common-form normal login">
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input [(ngModel)]="email" name="email" type="email" class="normal-textbox"></ion-input>
    </ion-item>
    <ion-button color="primary" class="button-round" expand="full" (click)="submit()">Submit</ion-button>
    <a href="Javascript:;" routerLink="/login"> Back to Login</a>
  </form>
  <span class="circles c1"></span>
  <span class="circles c2"></span>
  <span class="circles c3"></span>
  <span class="circles c4"></span>
</ion-content>