<ion-list class="list-one-col single-line">
  <ion-item>
    <ion-label>
      <h3>
        <div class="animate-skeleton-background" style="width: 50%;    height: 14px;"></div>
      </h3>
      <p class="animate-skeleton-background" style="width: 80%;    height: 16px;">
      </p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>
        <div class="animate-skeleton-background" style="width: 50%;    height: 14px;"></div>
      </h3>
      <p class="animate-skeleton-background" style="width: 80%;    height: 18px;">
      </p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      <h3>
        <div class="animate-skeleton-background" style="width: 50%;    height: 14px;"></div>
      </h3>
      <p class="animate-skeleton-background" style="width: 80%;    height: 18px;">
      </p>
    </ion-label>
  </ion-item>
</ion-list>