<ion-header class="common text-only header-small">
  <ion-toolbar class="common_toolbars">
    <ion-title class="text-left">Notification</ion-title>
    <ion-buttons slot="end">
        <ion-button class="default">
          <ion-icon name="notifications" ></ion-icon>
          <span class="count notifications" *ngIf="api.notificationCount!=0">{{api.notificationCount}}</span>
        </ion-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="common-content">
  
</ion-content>